body{
    color:aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif ;
    background-color:darkslategrey ;    
}

img{
    width: 200px;
    border-radius: 50%;
}
button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 60px;
    height: 40px;
    color: aliceblue;
    background-color: green;
    border-radius: 20px;
    border: solid 1px green;
}